footer {
  #ms-footer-logo {
    position: relative;
    padding-bottom: 30px;
    background-color: $white;
    img {
      position: relative;
      z-index: 1;
    }

    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100vw;
      right: 0;
      top: 0;
      background-color: $white;
    }

    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 90px;
      background-color: $white;
      top: 5px;
      right: -50px;
      -moz-transform: translate(-5px, -5px) skew(-24deg, 0deg);
      -webkit-transform: translate(-5px, -5px) skew(-24deg, 0deg);
      -o-transform: translate(-5px, -5px) skew(-24deg, 0deg);
      -ms-transform: translate(-5px, -5px) skew(-24deg, 0deg);
      transform: translate(-5px, -5px) skew(-24deg, 0deg);
      z-index: 0;
    }
  }

  #ms-footer-content {
    padding-left: 120px;

    h4 {
      margin-top: 30px;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 400;
    }

    .ms-contact {
      p {
        margin-top: 0;
        text-transform: uppercase;
      }
    }

    form {
      input,
      button {
        height: 45px;

        &:focus {
          outline: 0;
        }
      }

      input {
        width: 65%;
        padding: 0px 30px;
        text-transform: uppercase;
      }
      button {
        width: 33.3333%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        background-color: $primary-color;
      }
    }

    .ms-social,
    .ms-terms {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .ms-terms {
      font-size: 10px;
    }

    .ms-social {
      a {
        margin-right: 15px;
      }
      img {
        height: 17px;
      }
    }
  }
}
